* {
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: 'Gabarito', sans-serif;
    background-size: 100% 100%;
    background-attachment: fixed;
}

nav a {
    color: #fe5b27 !important;
}

/* Navigation Styles */
.navbar {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Banner */
.img-banner {
    max-height: 70vh;
    min-height: 60vh;
    filter: brightness(40%);
}

.banner__text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

/* Spinner Styles */
.loader {
    width: 215px;
    height: 215px;
    display: block;
    margin: auto;
    position: relative;
    background: #FFF;
    box-sizing: border-box;
}

.loader::after {
    content: '';
    width: calc(100% - 30px);
    height: calc(100% - 15px);
    top: 15px;
    left: 15px;
    position: absolute;
    background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5) 50%, transparent 100%),
    linear-gradient(#DDD 100px, transparent 0),
    linear-gradient(#DDD 16px, transparent 0),
    linear-gradient(#DDD 50px, transparent 0);
    background-repeat: no-repeat;
    background-size: 75px 175px, 100% 100px, 100% 16px, 100% 30px;
    background-position: -185px 0, center 0, center 115px, center 142px;
    box-sizing: border-box;
    animation: animloader 1s linear infinite;
}

@keyframes animloader {
    to {
        background-position: 185px 0, center 0, center 115px, center 142px;
    }
}

/* Card Home Styles */
.card-img-top {
    height: 180px;
    border-radius: 5px;
}

.btn-details {
    border-radius: 50px;
}

.card-text-short {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/* Card Details Styles */
.img-fluid {
    width: 100%;
}

.card-text-filters {
    font-size: 2rem;
}

.salary {
    display: block;
    font-style: normal;
    font-size: 26px;
    min-width: 90px;
}

.benefits {
    display: block;
    font-style: normal;
    font-size: 18px;
    min-width: 90px;
}

/* Form Styles */

label {
    width: 100%;
    color: black;
}

@media (width <= 767px) {
    .search-mobile {
        flex-direction: column;
    }
    .search-mobile select, .search-mobile button {
        margin-top: 10px;
    }
}